
.admin-profile {
  width: 800px;
  background: #ffffff;
  border-radius: 18px;
  padding: 18px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
  margin-bottom: 25px;
  border: 1px solid rgba(108, 99, 255, 0.12);
}

.admin-left {
  display: flex;
  align-items: center;
  gap: 14px;
}

.admin-avatar {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background: rgb(144, 108, 241);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  font-weight: bold;
}

.small-avatar {
  width: 42px;
  height: 42px;
  font-size: 18px;
}

.admin-info h3 {
  margin: 0;
  color: #222;
}

.admin-info p {
  margin-top: 4px;
  color: #666;
  font-size: 14px;
}

.admin-actions {
  display: flex;
  align-items: center;
  gap: 12px;
}

.dashboard-btn,
.logout-btn {
  border: none;
  padding: 10px 18px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 600;
  transition: 0.3s ease;
}

.dashboard-btn {
  background: #6C63FF;
  color: white;
}

.dashboard-btn:hover {
  background: #574bdb;
  transform: translateY(-2px);
}

.logout-btn {
  background: #3B0A72;
  color: white;
}

.logout-btn:hover {
  background: #2a0652;
  transform: translateY(-2px);
}

/* MOBILE NAV */
.mobile-admin-navbar {
  display: none;
 
  background: white;
  padding: 14px 18px;
  border-radius: 14px;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
  margin-bottom: 20px;
}

.mobile-admin-left {
  display: flex;
  align-items: center;
  gap: 12px;
  font-weight: 600;
}

.menu-toggle {
  background: transparent;
  border: none;
  cursor: pointer;
  color: #3B0A72;
}

/* MOBILE MENU */
.mobile-admin-menu {
  background: white;
  padding: 18px;
  border-radius: 14px;
  margin-top: -10px;
  margin-bottom: 20px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
}

.mobile-admin-menu p {
  color: #666;
  margin-bottom: 15px;
  word-break: break-word;
}

.mobile-btn {
  width: 100%;
  margin-bottom: 10px;
}

/* TABLET */
@media (max-width: 900px) {
  .admin-profile {
    padding: 16px;
  }
}

/* MOBILE */
@media (max-width: 768px) {
  .desktop-admin-profile {
    display: none;
  }

  .mobile-admin-navbar {
    display: flex;
  }
}