.AdminDashboardContainer {
  padding: 20px;
  border: 1px solid #ddd;
}
.adminheading {
  font-size: 32px;
  margin-bottom: 15px;
}
.Statistics {
  display: flex;
  gap: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.cardStyle {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  flex-basis: 30%;
  min-width: 150px;  
  background: "#fafafa";
}
.admin-actions {
  display: flex;
  gap: 12px;
  margin-top: 25px;
}


.test-list {
  margin-top: 30px;
}

.test-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 15px;
  margin-bottom: 15px;
}

.test-actions {
  margin-top: 10px;
  display: flex;
  gap: 10px;
}
